:root {
    --green: #008000;
    --blue: #40E0D0;
    --red: #CD5C5C;
    --yellow: #FFBF00;
}


body {
    margin: 0px;
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header_content {
    height: 5rem;
    background-color: black;
    display: flex;
    align-items: center;
}

.palletes {
    height: 60%;
    width: 18rem;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-left: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.color {
    height: 1.5rem;
    width: 3rem;
}

.green {
    background-color: var(--green);
    cursor: pointer;
}

.red {
    background-color: var(--red);
    cursor: pointer;
    cursor: pointer;
}

.blue {
    background-color: var(--blue);
    cursor: pointer;
}

.yellow {
    background-color: var(--yellow);
    cursor: pointer;
}

.action_btn {
    height: 60%;
    width: 10rem;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5rem;
    border-radius: 10px;
}

.add-btn, .remove-btn {
    font-size: 1.75rem;
    cursor: pointer;
}

.main_content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1rem;
}

.ticket-container {
    height: 10rem;
    width: 15rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #d5dbdb;
    position: relative;
}

.ticket-header {
    height: 10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ticket-id {
    height: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.lock-unlock {
    position: absolute;
    bottom: 0.7rem;
    right: 0.9rem;
    font-size: 1.25rem;
}

.modal_content {
    height: 50vh;
    width: 50vw;
    position: fixed;
    left: 25vw;
    top: 10vw;
    box-shadow: 10px 10px 40px -4px rgba(0, 0, 0, 0.7);
    display: flex;
    border-radius: 10px;
    display: none;
}

.text-area-cont {
    width: 75%;
    font-size: 2rem;
    padding: 2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
}

.ticket-area{
    outline: none;
}

.priority-color-cont {
    background-color: #C0C0C0;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.priority-color {
    height: 3rem;
    width: 5rem;
}

i{
    cursor: pointer;
}

.active {
    border: 0.6rem solid whitesmoke;
}