.container {
    display: grid;
    place-items: center;
}

.border_box{
    height: 30rem;
    width: 30rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
}

.star_container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 2rem;
}

.yellow{
    color: yellow;
}