.otp_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ip {
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 1rem;
    border-color: aqua;
    border-radius: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}