.main_container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.container {
    border: 1px solid gray;
    width: 200px;
    min-height: 60px;
    margin: 10px;
    padding: 10px;
}

.box,
.box1 {
    height: 30px;
    padding: 5px;
    background-color: whitesmoke;
    cursor: grab;
    border: 1px solid #ddd;
    margin: 5px;
}

.container>.box {

    background-color: lightblue;
}

.container>.box1 {

    background-color: lightcoral;
}
